* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.card {
  box-shadow: 3px 3px 4px #888888;
}
.liner {
  display: flex;
  align-items: flex-start;
  text-align: left;

  &:after {
    content: '';
    flex-grow: 1;
    border-radius: 20px;
    height: 1.5px;
    background: #1a92d7;
    min-width: 20px;
    margin: auto;
  }

  &:after {
    margin-left: 20px;
  }
}
.background-img {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../asset/background_blue.png');
  background-size: cover;
}
.form-container, .form-container-2{
  position: relative;
  border-radius: 13px;
  width: 100%;
  background: #fff;
  padding: 30px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  perspective: 2700px;
}
.form-container{
  max-width: 1000px;
  margin: 42px 12px;
}
.form-container-2{
  max-width: 500px;
}
.form-container .cover{
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.form-container #flip:checked ~ .cover{
  transform: rotateY(-180deg);
}
 .form-container .cover .front,
 .form-container .cover .back{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cover .back{
  transform: rotateY(180deg);
}
.form-container .cover .back-img, .form-container .cover .front-img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}
.form-container .back-img {
  border-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form-container .front-img {
  border-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form-container .cover .text{
  position: absolute;
  z-index: 130;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cover .text .text-1,
.cover .text .text-2{
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.cover .text .text-2{
  font-size: 14px;
  font-weight: 500;
}
.form-container .forms{
  height: 100%;
  width: 100%;
  background: #fff;
}
.form-container .form-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .login-form,
.form-content .signup-form{
  padding: 0 18px;
  width: calc(100% / 2 - 25px);
}
.forms .form-content .title{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  border-radius: 12px;
  background: #2A93E8;
}
.forms .signup-form  .title:before{
  width: 20px;
}
.forms .form-content .input-boxes{
  margin-top: 30px;
}
.forms .form-content .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.form-content .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.form-content .input-box input:focus{
  border-color: #2A93E8;
}
.form-content .input-box i{
  position: absolute;
  color: #2A93E8;
  font-size: 16px;
}
.forms .form-content .text{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .text a{
  text-decoration: none;
}
.forms .form-content .text a:hover{
  text-decoration: underline;
}
.forms .form-content .button{
  color: #fff;
  margin-top: 40px;
}
.forms .form-content .button input{
  color: #fff;
  background: #2A93E8;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms .form-content .button input:hover{
  background: #1775C2;
}
.forms .form-content label{
  color: #1775C2;
  cursor: pointer;
}
.forms .form-content label:hover{
  text-decoration: underline;
}
.forms .form-content .login-text,
.forms .form-content .sign-up-text{
  text-align: center;
  margin-top: 25px;
}
.form-container #flip{
  display: none;
}


@media (max-width: 730px) {
  .form-container .cover{
    display: none;
  }
  .form-content .login-form,
  .form-content .signup-form{
    width: 100%;
  }
  .form-container, .form-container-2 {
    padding: 30px 6px;
  }
  .form-content .signup-form{
    display: none;
  }
  .form-content .captcha-box{
    width: 200px;
    height: 76px;
    border: 1.2px solid #d0d0d0;
    border-radius: 6px;
    overflow: hidden;
  }
  .form-container #flip:checked ~ .forms .signup-form{
    display: block;
  }
  .form-container #flip:checked ~ .forms .login-form{
    display: none;
  }
}

/* Admin Side Bar */
.side-menu{
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 72px;
  background-image: url('../asset/background_blue.png');
  background-size: cover;
  padding: 6px 14px;
  transition: all 0.5s ease;
}
.sidebar.active-sidebar{
  width: 240px;
}
.sidebar .logo-content .logo{
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.sidebar.active-sidebar .logo-content .logo{
  opacity: 1;
  pointer-events: none;
}
.sidebar .nav-list{
  padding: 0;
}
.logo-content .logo i{
  font-size: 24px;
  margin-right: 8px;
}
.logo-content .logo .logo-name{
  font-size: 22px;
  font-weight: 500;
}
.sidebar #menu-btn{
  position: absolute;
  color: #fff;
  left: 50%;
  top: 5px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translate(-50%);
  transition: all 0.5s ease;
  cursor: pointer;
}
.sidebar.active-sidebar #menu-btn{
  left: 90%;
}
.sidebar ul{
  margin-top: 20px;
}
.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}
.sidebar .active{
  background: #116B9E;
  width: 104%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.sidebar.active-sidebar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 104%;
  height: 90%;
  transition: all 0.4s ease-in-out;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  white-space: nowrap;
}
.sidebar.active-sidebar ul li a:hover{
  margin-left: 11px;
  background: #116B9E;
  width: 99%;
}
.sidebar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 90%;
  transition: all 0.5s ease;
  border-radius: 12px;
  white-space: nowrap;
  margin-left: -6px;
}
.sidebar.active-sidebar ul li a{
  margin-left: 0;
}
.sidebar ul li a:hover{
  background: #116B9E;
}
.sidebar ul li a i{
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
  margin-left: -3px;
  transition: all 0.5s ease;
}
.sidebar.active-sidebar ul li a i{
  margin-left: 0;
}
.sidebar .side-link-name{
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.sidebar.active-sidebar .side-link-name{
  opacity: 1;
  pointer-events: all;
}
.sidebar .profile-content{
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}
.sidebar .profile-content .profile{
  position: relative;
  padding: 10px 6px;
  height: 65px;
  background-color: none;
  padding-left: 12px;
  transition: all 0.5s ease;
}
.sidebar.active-sidebar .profile-content .profile{
  background: #116B9E;
}
.profile-content .profile .profile-details{
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: all 0.5s ease;
}
.sidebar.active-sidebar .profile .profile-details{
  opacity: 1;
  pointer-events: all;
}
.profile-content .profile .profile-details img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}
.profile-content .profile .profile-details .name-role{
  margin-left: 10px;
}
.profile-content .profile .profile-details .user-name{
  font-size: 16px;
  font-weight: 400;
}
.profile-content .profile .profile-details .user-campus{
  font-size: 12px;
}
.profile #logout{
  position: absolute;
  left: 50%;
  bottom: 6px;
  transform: translate(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.4s ease;
  background: #116B9E;
}
.sidebar.active-sidebar .profile #logout{
  left: 88%;
  background: none;
}
.admin-content{
  position: absolute;
  height: 100%;
  width: calc(100% - 72px);
  left: 72px;
  transition: all 0.5s ease;
  overflow-y: scroll;
}
.text{
  font-weight: 500;
  font-size: 25px;
  color: #116B9E;
  margin: 12px;
}
.text-1{
  font-weight: 600;
  font-size: 18px;
  color: #116B9E;
  margin: 12px;
}
.sidebar.active-sidebar ~ .admin-content{
  width: calc(100% - 240px);
  left: 240px;
}
.notification{
  font-size: 10px !important;
  top: 5px !important;
}
.circular-avatar {
  width: 37px;
  height: 37px;
}
.circular-avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pending-date {
  font-size: 10px;
  color: #116B9E;
}
.pending-title {
  font-size: 14px;
  font-weight: 600;
}
.pending-type {
  font-size: 10px;
  color: #5a5a5a;
}

/* Settings */
.image-container, .image-container-update {
  width: 90%;
  margin: 0 auto 0 auto;
  position: relative;
}
.image-container img, .image-container-update img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  object-fit: cover;
}
input[type="file"]{
  display: none;
}
.upload-label {
  display: block;
  position: relative;
  background-color: #025bee;
  color: #ffffff;
  font-size: 14px;
  max-width: 200px;
  text-align: center;
  padding: 8px 0;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
}
.profile-details-settings{
  text-align: start;
}
.profile-details-settings-2{
  text-align: end;
}
.psu-name {
  width: 260px;
}

/* weather style */
.weather-data .current-weather {
  color: #fff;
  background: linear-gradient(to bottom right, #2A93E8, #065291);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.current-weather h2 {
  font-weight: 700;
  font-size: 18px;
}
.weather-data h6 {
  margin-top: -4px;
  font-size: 14px;
  font-weight: 500;
}
.current-weather .icon {
  text-align: center;
}
.current-weather .icon img {
  max-width: 120px;
  margin-top: -15px;
}
.current-weather .icon h6 {
  margin-top: -14px;
  text-transform: capitalize;
}
.days-forecast .weather-cards {
  display: flex;
  gap: 12px;
  overflow-x: auto;
}
.days-forecast .weather-cards::-webkit-scrollbar {
  width: 0;
}
.weather-cards .items {
  min-width: 100px;
  line-height: 120px;
  color: #fff;
  padding: 12px 8px;
  background: linear-gradient(to bottom right, #81b9e8, #065291);
  border-radius: 8px;
  text-align: center;
}
.weather-cards .items h3 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: -50px;
}
.weather-cards .items img {
  width: 50px;
  margin-bottom: -20px;
}
.weather-cards .items h5 {
  font-size: 12px;
  margin-top: -28px;
  margin-bottom: 12px;
  text-transform: capitalize;
}
.weather-cards .items h6 {
  font-size: 10px;
  margin-top: -3px;
}

/* calendar */
#calendar {
  margin: 0 auto;
}

/* table */
.dataTables_scrollBody {
  overflow-y: auto;
  padding-bottom: 30px;
}
.dataTables_scrollBody::-webkit-scrollbar {
  width: 0;
}
.dashboard-pending-table {
  width: 100%;
}
.table-overflow {
  height: 400px;
  overflow-y: auto;
}
.table-overflow::-webkit-scrollbar {
  width: 0;
}
.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable, .dataTables_scrollHeadInner {
  width: 100% !important;
}
.dataTables_wrapper .dataTables_filter input {
  border: 2px solid #2A93E8 !important;
  border-radius: 50px !important;
  padding: 5px 16px !important;
  margin-left: 8px !important;
  margin-bottom: 12px !important;
  width: 85% !important;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  height: 320px !important;
  border-bottom: none !important;
  overflow-y: scroll;
}
.dataTables_wrapper .dataTables_scroll {
  position: relative;
}
.dataTables_wrapper .dataTables_scroll::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(to top, #f8f9fa, transparent);
  z-index: 1;
}
.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_filter label {
  width: 400px !important;
}
.dataTables_scrollHead, .dataTables_scrollHead thead {
  border-radius: 8px;
  background: linear-gradient(to top, #2A93E8, #217eca);
  padding: 0 12px;
  color: #fff;
}
.dataTables_wrapper .dataTables_paginate {
  margin-top: 8px !important;
  color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: linear-gradient(to top, #1d68a5, #105084) !important;
  border: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  background: linear-gradient(to top, transparent, transparent) !important;
  border: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  background: linear-gradient(to top, #2A93E8, #217eca) !important;
  border: none !important;
}
.dataTables_wrapper .dataTables_length {
  padding-top: 7px;
}
.user-data-event-profile {
  min-width: 230px !important;
}


@media (max-width: 1050px) {
  .dataTables_wrapper .dataTables_filter input {
    width: 75% !important;
  }
}

@media (max-width: 900px) {
  .psu-logo .circular-avatar,
  .psu-logo .row {
    display: none;
  }
  .dataTables_wrapper .dataTables_length {
    padding-top: 6px;
  }
  .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_filter label {
    width: 70% !important;
  }
}

@media (max-width: 767px) {
  .user-data-event-profile{
    min-width: 120px !important;
  }
  .user-data-event-profile p{
    text-align: center;
  }
}

@media (max-width: 640px) {
  .dataTables_wrapper .dataTables_filter input {
    width: 100% !important;
  }
  .dataTables_wrapper .dataTables_filter {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 580px) {
  .profile-details-settings{
    text-align: center !important;
  }
  .profile-details-settings-2{
    text-align: center !important;
  }
}
